/* google font */
.noto-serif {
  font-family: 'Noto Serif', serif;
  font-optical-sizing: auto;

  font-style: normal;
  font-variation-settings: 'wdth' 100;
}
.inter {
  font-family: 'Inter', sans-serif;
  font-optical-sizing: auto;

  font-style: normal;
}
main {
  max-width: 1140px;
  margin: 0 auto;
}

* {
  margin: 0;
  padding: 0;
}
/* styling */
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;

  margin: 30px 150px 0 150px;
}

nav ul li {
  list-style: none;
}

nav ul li:hover {
  cursor: pointer;
}
nav ul {
  display: flex;
  gap: 40px;
}
nav img {
  width: 135px;
  height: 82px;
}
nav img:hover {
  cursor: no-drop;
}

.color-bold {
  color: #252432;
  font-weight: bold;
}
.clr {
  color: #8987a1;
}
/* nav responsive  */
@media screen and (max-width: 570px) {
  nav ul .li {
    display: none;
  }
  nav {
    display: flex;

    margin: 13px 16px 0 6px;
  }
}

/* banner section styling */
.banner {
  margin-top: 140px;
  display: flex;
  justify-content: space-between;
  height: 461px;
  position: relative;
}
.banner h1 {
  font-weight: bold;
  font-size: 65px;
  color: #e95a08;
}
.banner h1 span {
  color: black;
}
.banner p {
  font-weight: 400;
  font-size: 22px;
  color: gray;
}
.banner-title {
  position: absolute;
  bottom: 0px;
  left: 0px;
  width: 570px;
}
.banner div img {
  position: absolute;
  bottom: 0px;
  right: 0px;
}
/* banner responsive */
@media screen and (max-width: 570px) {
  .banner {
    flex-direction: column-reverse;

    height: auto;
  }

  .banner-title {
    position: static;
    padding: 16px;
    width: 341px;
    margin-top: 28px;
  }

  .banner div img {
    position: static;
    width: 100%;
  }
  .banner h1 {
    font-size: 24px;
  }
  .banner p {
    margin-top: 12px;
    font-size: 14px;
    padding-right: 5px;
  }
}
